<form method='POST' action='/playlists/{{playlist._id}}/edit'>
    <fieldset>
    <legend>New Playlist</legend>
    <!-- TITLE -->
    <p>
        <label for='title'>Title</label><br>
        <input type='text' name='title' value={{playlist.title}} />
    </p>
    <p>
        <label for='description'>Description</label><br>
        <input type='text' name='description' value={{playlist.description}} />
    </p>
    <!-- VIDEO IDS -->
    <p>
        <label for='playlist-video-ids'>Videos</label><br>
        <p>Add the ID of the videos you want to include in your playlist. Separate with a newline.</p>
        <textarea id='playlist-video-ids' name='vid_ids' rows='10' value="'\n'.join(playlist.video_ids)"></textarea>
    </p>


    </fieldset>

    <!-- BUTTON -->
    <p>
        <button type='submit'>Save Playlist</button>
    </p>
    <a href="/playlists/{{playlist._id}}">Cancel</a>
</form>